[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask-cors = "==3.0.9"
gunicorn = "==19.9.0"
Flask = "==1.0.3"
textblob = "*"
pandas = "*"
nltk = "*"

[requires]
python_version = "3.6"
